/* start header */
.main-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--white);
    /* box-shadow: 0 0px 0px 0px #eee; */
}
.main-header.sticking {
   
}
.main-header .wrapper {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo a {
    color: var(--main-clr);
    letter-spacing: -0.01em;
    font-size: 34px;
    margin: 0;
    font-weight: 700;
    line-height: 1;
}
@media (width < 768px) {
    .site-logo a {
        font-size: 21px;
    }
    
}
.header-nav .navigation-main {
    display: flex;
}
@media (width < 768px) {
    .desktop-menu {
        display: none !important;
    }
    
}
.navigation-main > li > a {
    padding: 15px 0;
    margin: 0 12px;
    color: #333333;
}
.navigation-main a {
    display: block;
    white-space: nowrap;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #4a4a4a;
    transition: all 300ms;
}
.navigation-main a:hover {color: var(--label-error-color);}
@media (width > 768px) {
    .mobile-menu {
        display: none !important;
    }
}
/* .mobile-menu {
    display: none;
} */
.mobile-menu .title {
    padding: 10px;
    color: var(--border-color);
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}
.mobile-menu li {
    border-bottom: 1px solid var(--border-color);
}
.mobile-menu li a {
    color: var(--label-sublabel-color);
}
@media (width < 767px) {
    .mobile-menu {
        display: flex;
        position: absolute;
        left: 0;
        top: -800%;
        z-index: 1;
        flex-direction: column;
        background-color: #eee;
        width: 100%;
        transition: all 300ms;
    }
}
.toggle-menu {
    cursor: pointer;
    font-size: 24px;
}
@media (width > 768px) {
    .toggle-menu {
        display: none;
    }
}

@media (width < 767px) {
    .toggle-menu {
        display: block !important;
    }
}
/* end header */
/* start hero section */
.page-hero {
    padding-block: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-color: #251e36;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: linear-gradient(90deg, #FFB06D 0%, #FF7369 100%);
    height: 300px;
}
.page-hero::before {
    content: "";
    position: absolute;
    inset: 0;
}
.page-hero-title {
    color: var(--white);
    margin: 0;
    font-size: 42px;
    font-weight: 600;
}
@media (width < 768px) {
    .page-hero-title {
        font-size: 28px;
    }
    
}
/* end hero section */